<ion-header color="primary">
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>My Account</ion-title>

  <ion-buttons slot="end"  (click)="notifications()">
    <ion-icon name="notifications" size="large"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center"><img alt="logo" height="150" style="margin-top: 2%;"  src="../../assets/img/logo.webp" >
  </div>
 <h2 class="ion-text-center">{{ name }}</h2>
 <h2 class="ion-text-center">{{ email }}</h2>

<ion-button expand="full" color="light" (click) ="myProfile()">My Profile<ion-icon name="arrow-dropright"></ion-icon>
</ion-button>
<ion-button expand="full" color="light" (click) ="myAddr()">My Address</ion-button>
<ion-button expand="full" color="light" (click) ="settings()">Settings</ion-button>
<ion-button expand="full" color="light" (click) ="changePass()">Change Password</ion-button>

</ion-content>
