<ion-header color="primary">
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Forget Password</ion-title>

  <ion-buttons slot="end">
    <ion-icon name="notifications"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-center"><img alt="logo" height="150" style="margin-top: 2%;"  src="../../assets/img/logo.webp" >
  </div>
  <br/><br/><span>Enter Your Registered Email or mobile number to reset your passsword</span>

  <form [formGroup]="forgetPassForm" (ngSubmit) = "submitForm()">
    <ion-item lines="full">
      <ion-label color="primary" position="floating">Email/Mobile</ion-label>
      <ion-input type="text" formControlName="oldPass" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Continue</ion-button>
        <!-- <ion-button (click)="sendEmail()"></ion-button> -->
      </ion-col>
    </ion-row>
  </form>
</ion-content>
