ion-col {
    border: solid 1px grey;
    // border-bottom-style: none;
    // border-right-style: none;
    padding: 1.5ch;
  }

  ion-col:last-child {
    border-right: solid 1px grey;
  }

  row:last-child .col {
    border-bottom: solid 1px grey;
  }
  ion-item{
    --background: rgb(87, 191, 233);
    line-height: 7ch;
    color: white;
    font-size:3ch;
  }
